
asgiref==3.5.2
demo-nodes-py==0.9.3
Django==4.0.6
pytz==2022.1
sqlparse==0.4.2
Pillow==9.2.0
asgiref==3.5.0; python_version >= '3.7'
backports.zoneinfo==0.2.1; python_version < '3.9'
brotli==1.0.9
dj-database-url==0.5.0
django-cors-headers==3.11.0
django-heroku==0.3.1
djangorestframework==3.13.1
gunicorn==20.1.0
psycopg2-binary==2.9.3
psycopg2==2.9.3; python_version >= '3.6'
python-decouple==3.6
pytz==2021.3
setuptools==60.9.3; python_version >= '3.7'
sqlparse==0.4.2; python_version >= '3.5'
whitenoise==6.0.0
